.container{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar{
     background-color: black;
width: 100%;

}
.navbarwrapper{
    display: flex;
   justify-content:center;
   align-items: center;
   gap: 40px;
  
}
.navbarwrapper img{
    display: flex;
    align-items: start;
   
    
}
.deliver h4{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: rgba(192, 204, 204,70%);
}
.deliver p {
    font-size: 18px;
    color: white;
     font-family: "Lato", sans-serif;
     margin-left: -20px;
}
.deliver{
    margin-top: 20px;
}

.allbtn{
   color: #676767;
     font-family: "Lato", sans-serif;
     font-size: 23px;
     background-color: #D9D9D9;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 75.77px;
    height: 58.74px;
}
#alldown{
    font-size: 12px;
    
}
.All{
    display: flex;
}
.All input{
    max-width: 339.21px;
    height: 58.74px;
    padding: 15.87px 0;
    padding-left: 11px;
    padding-right: 140px;
}
.All input::placeholder{
    color: #696969;
    font-size: 23px;
       font-family: "Lato", sans-serif;
}
.All h5{
    max-width: 47.49px;
    height: 58.74px;
    background-color: #FFCC00;
    padding: 18px 14px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.en{
    display: flex;
    gap: 3px;
    align-items: start;
   
}
.en button{
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
       font-family: "Lato", sans-serif;
       margin-top: -5px;
}
.sign h4{
       font-family: "Lato", sans-serif;
       font-size: 16px;
       color: white;

}
.sign h5{
       font-family: "Lato", sans-serif;
       font-size: 18px;
       color: white;
font-weight: bold;
}
.sign{
    margin-top: 10px;
}
.return h3{
       font-family: "Lato", sans-serif;
       font-size: 18px;
       color: white;
      margin-top: 10px;
}
.cart{
    font-family: "Lato", sans-serif;
       font-size: 18px;
       color: white;
      margin-top: 10px;
      font-weight: bold;
}
.navlinks{
    background-color: #232F3E;
    margin-left: -100px;
    padding: 5px 0;
}
.linkwrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}
.linkwrapper a {
    text-decoration: none;
    color: white;
    font-size: 16.41px;
   
       font-family: "Lato", sans-serif;
}
/* -------------------banner part ---------------------- */


#banner{
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 6px;
  padding-top: 147px;
   padding-bottom: 51px;
   
    
}

.bannerleft{
   
  position: relative;
}
.bannerright{
   
    margin-top: 17.73px;
   
}
.bannerwrapper{
    display: flex;
    gap: 168.63px;
   margin-left: 104px;
   
}
.bannertxt{
    max-width: 520px;
}
.bannertxt h1{
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black;
  font-weight: 900;
  font-size: 52px;
  line-height: 123.9%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0,25%);
}
.bannertxt p{
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 23px;
  line-height: 123.9%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0,25%);
  margin-top: 16px;
}
.bannerleft .signbtn{
    background-color: #FF9900;
    padding: 14.53px 39.96px;
    border: 4px solid white;
    border-radius: 36.32px;
    color: black;
     font-family: "Plus Jakarta Sans", sans-serif;
     text-shadow: 0px 4px 4px rgba(0, 0, 0,25%);
     font-size: 21px;
     font-weight: bold;
     letter-spacing: 5%;
box-shadow: 0px 4px 4px rgba(0, 0, 0,25%) ;
 position: absolute;
 left: 0px;
}

.btntxt{
    font-size: 14px;
    color: white;
     font-family: "Plus Jakarta Sans", sans-serif;
     letter-spacing: 5%;
     background-color: #49850F;
     border: none;
     border-radius: 36.32px;
        padding: 10px 60px;
       display: inline-block;
position: absolute;
left: 110px;
top: 385px;
text-align: justify;

 
}
.btn{
    margin-top: 51.28px;
}

/* --------------sell part ------------------- */

#sell{
    margin-top: 10px;
   
   
}

.sell_left{
   
    
}
.sell_right{
  
}
.sellwrapper{
    display: flex;
    margin-top: 45px;
margin-left: 30px;
 
}
.sellborder{
   
    box-shadow: 0px 0px 2px #0099D9;
    border-radius: 23px;
    padding-right: 30px;
    padding-top: 36px;
    padding-bottom: 25px;
    max-width: 1210px;
    margin: 0 auto;
}
#sell h1{
    font-size: 48.36px;
    font-weight: bold;
      font-family: "Plus Jakarta Sans", sans-serif;
 text-align: center;
}
.steptxt h2{
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
}
.steptxt p{
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
margin-top: 25px;
}
.steps{
    display: flex;
    gap:48px;
    max-width: 510px;
    margin-left: 80px;
}
.step3{
    display: flex;
    gap: 48px;
    margin-top: 74px;
}

/* -----------seller part ----------- */

#seller{
    margin-top: 10px;

}
#seller h1{
    font-size: 48.36px;
    font-weight: bold;
      font-family: "Plus Jakarta Sans", sans-serif;
 text-align: center;
 margin-top: 50px;
}
.sellerwrapper{
    width: 100%;
   position: relative;
    margin-top: 60px;
}

.sellercart{
    max-width: 389px;
    height: 221px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    box-shadow: 0px 0px 4.4px  rgba(0, 0, 0,25%);
    padding: 0px 39px;
    padding-top: 42px;
    padding-bottom: 50px;
    border-radius: 7px;
}

.sellercart h2{
    font-size: 28px;
     font-family: "Plus Jakarta Sans", sans-serif;
     font-weight: 900;
     line-height: 123.9%;
     border-bottom: 2px solid #0099D9;
   padding-bottom: 10px;
    }
    .sellercart p{
    font-size: 18px;
     font-family: "Plus Jakarta Sans", sans-serif;
     font-weight: 500;
     line-height: 144%;
     letter-spacing: -1%;
     text-align: left;
     margin-top: 20px;
     text-shadow: 0px 4px 4px rgba(0, 0, 0,25%);
    }
    .sellerAllCarts{
        display: flex;
        gap: 22px;
        justify-content: center;
    }
    .sellerbtn{
       margin-left: 650px;
        margin-top: 60px;
        background-color: #FF9900;
        border: none;
        border-radius: 31.47px;
         font-family: "Plus Jakarta Sans", sans-serif;
         font-size: 18px;
         font-weight: bold;
          text-shadow: 0px 4px 4px rgba(0, 0, 0,25%);
          padding: 5px 18px;
    }
    /* ----------------people part --------------- */

    #people{
      margin-top: 68px;
    }

    .ppltitle h1{
   font-size: 32.74px;
    font-weight: bold;
      font-family: "Plus Jakarta Sans", sans-serif;
 text-align: center;
 background-color: #B2E5F6;
 border-radius: 10px ;
 padding: 22px 279.5px;
 margin-top: 10px;
    }

    .pplup{
        width: 100%;
        display: flex;
        gap: 135px;
    }
    .ppldown{
        width: 100%;
        display: flex;
        gap: 135px;
        margin-top: 100px;
    }
    .pplwrapper{
        max-width: 985.12px;
        margin: 0 auto;
        padding: 60px 0;
    }
.ppltxt h2{
  font-size: 21px;
  font-weight: bold;
   font-family: "Plus Jakarta Sans", sans-serif;
}
.ppltxt img{
    margin-top: 36px;
}
.ppltxt p{
     font-family: "Podkova", serif;
     font-size: 32.71px;
     font-weight: 500;
     color: #212121;
     line-height: 125.7%;
     margin-top: 20px;
}
.ppltxt h4{
     font-family: "Paytone One", sans-serif;
     font-size: 23.62px;
     margin-top: 20px;
}
.ppltxt h5{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    color: #7F7F7F;
    margin-top: 6px;
}


/* ------------start part -------- */

#start{
    margin-top: 10px;
    
}

.startleft{
    width: 50%;
    height: 400px;
    background-color: beige;
}
.startright{
    width: 50%;
    height: 400px;
    background-color: bisque;
}
.startwrapper{
    display: flex;
}
.starttxt h1{
    font-size: 65.43px;
    letter-spacing: 1px;
     font-family: "Paytone One", sans-serif;
     line-height: 123.9%;
}
.starttxt p{
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #5C5C5C;
      line-height: 148%;
      margin-top: 20px;
}
.starttxt button{
    background-color: #FF9900;
        border: none;
        border-radius: 47px;
         font-family: "Plus Jakarta Sans", sans-serif;
         font-size: 27px;
         font-weight: bold;
          text-shadow: 0px 4px 4px rgba(0, 0, 0,25%);
          padding: 7px 27px;
          margin-top: 60px;
}
.starttxt{
    margin-top: -425px;
    margin-left: 75px;
}

/* -------explore part ------- */
#explore{
    margin: 10px 0;
}
.explorepart{
    margin-top: 150px;
}

/* -------back part -=------------ */

.backtxt{
   background-color: #37475A;
   padding: 28px 600px;
}
.backtxt h5{
    color: white;
     font-family: "Istok Web", sans-serif;
     font-size: 16px;
text-align: center;

}
/* ---------info part -------------- */

#info{
  
    
}
.fullinfo{
    width: 100%;
   
    background-color: #232F3E;
    
 
  
}
.infowrapper{
      border-bottom: 1px solid #4C4C4C;
}
.infolinkwrapper{
    max-width: 1107.58px;
    margin: 0 auto;
    display: flex;
    gap: 123px;
  padding: 55px 0;
}

.infolists{
    list-style-type: none;

}

.infolists a{
    color: rgba(255, 255, 255,75%);
    text-decoration: none;
        font-family: "Istok Web", sans-serif;
        font-size: 16px;
        font-weight: normal;
        margin-top: 5px;
}
.infolists h3{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.language{
    display: flex;
    justify-content: center;
    gap: 55px;
    padding: 40px 0;
}
.lngbtn{
    display: flex;
    
    align-items: center;
    gap: 12px;
}
.global{
    border: 1px solid #B4B4B4;
    color: #B4B4B4;
    padding: 10px;
    border-radius: 3px;
    background-color: #232F3E;
    font-size: 17px;
     font-family: "Istok Web", sans-serif;

}
/* ------------footer part -------------- */

#footer{
    background-color: #131A22;
    padding: 30px 0;
}
.footerwrapper{
    display: flex;
    gap: 100px ;
    padding: 0px 149px;
    max-width: 1350px;
    
}
.footerlinks{
    list-style-type: none;
}
.footerlinks h4{
    font-size: 15px;
    color: white;
     font-family: "Istok Web", sans-serif;
     font-weight: 500;
}
.footerlinks a{
    color: #999999;
    font-size: 15px;
     font-family: "Istok Web", sans-serif;
     text-decoration: none;
}
.footerwrapper2{
    display: flex;
    gap: 100px ;
    padding: 0px 149px;
    margin-top: 10px;
    max-width: 1350px;
}
.conditionlinks{
    display: flex;
    gap: 26px;
    list-style-type: none;
}

.conditionlinks a{
    text-decoration: none;
    color: white;
    font-size: 12px;
         font-family: "Istok Web", sans-serif;

}
.conditions h4{

 color: white;
    font-size: 12px;
         font-family: "Istok Web", sans-serif;
         margin-left: 100px;
margin-top: -15px;
}

.conditions{
    margin-left: 475px;
    margin-top: 20px;
}